* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  display: grid;
  background-color: white;
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(300px, auto)) minmax(160px, auto);
}

.col-2 {
  grid-column: span 2;
}
.row-2 {
  grid-row: span 2;
}

.post {
  display: flex;
  justify-content: space-around;
}

.iphone {
  font-size: 12px;
  color: #9fa3a7;
}
.Learn {
  font-size: 14px;
  color: #9fa3a7;
  line-height: 1.9;
}

.post-info {
  padding: 20px;
  height: 128px;
  width: 185px;
}

.grid-0 {
  background: #f7f8f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tittle {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.h1 {
  font-size: 48px;
}
.tittle-2 {
  text-align: center;
  font-size: 22px;
  color: white;
}
.grid-1 {
  background: #f05638;
}
.icon {
  padding: 20px;
  color: #ffc80a;
  font-size: 10px;
}

.grid-4 {
  display: flex;
  gap: 56px;
}


.pad {
width: 185px;
display: flex;
font-size: 22px;
flex-direction: column;
align-items: center;
justify-content: center;
}

.block-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.block-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
width: 229px;
}

.download {
  text-align: center;
  color: #0ebac5;
  font-size: 10px;
}
.apple {
  color: #9fa3a7;
  font-size: 14px;
  height: 156px;
  width: 229px;
}
.pad {
  padding: 20px;
}

.grid-5 {
  height: 700px;
}
.but {
  background: radial-gradient(at center, #8166b0 70%, #8f76bc 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 318px;
  align-items: center;
  gap: 33px;
}

.img-span {
  display: flex;
  justify-content: center;
  height: 24px;
  width: 99px;
  border-radius: 100px;
  background: #8f76bc;
  margin-top: 44px;
  color: white;
}
.but-2 {
  height: 350px;
  width: 318px;
  background: #8f76bc;
}
.meet {
  color: #ffffff;
}
.more {
  height: 50px;
  width: 173px;
  background: #ffc80a;
  border-radius: 49.5px;
  border: #8f76bc;
  font-size: 12px;
}
.but-2 {
  padding: 20px;
  text-align: center;
}
.icloud {
  font-size: 36px;
  color: white;
}
.with {
  font-size: 14px;
  color: white;
}
.our {
color: #ffffff;
}

.games {
  font-size: 22px;
  color: #2c2c2c;
}
.grid-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.img-7 {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: #ffffff;
  margin-top: 20px;
}
.grid-7 {
  background: #93b6b7;
}
.best {
  width: 95px;
  height: 17px;
  background: #fa684f;
  border-radius: 4px;
  font-size: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  margin-left: 30px;
}
.text {
  text-align: center;
}
.icon-twitter {
  height: 35px;
  width: 43px;
}
.grid-8 {
  background: #38d5f4;
}
.twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
  gap: 10px;
}
.connect {
  font-size: 22px;
  color: #ffffff;
}

.grid-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tittle-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  width: 72px;
  border-radius: 4px;
  background: #7bc424;
  color: white;
  font-size: 8px;
}
.p-info {
  text-align: center;
  height: 64px;
  width: 228px;
  font-size: 22px;
}
.flex {
  background: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 47px;
}
.menu-1 {
  color: #ffffff;
  font-size: 22px;
  height: 64px;
  width: 228px;
}
